/**** FONT ****/
$maven : "maven pro";
$maven-bold : "maven pro bold";

/**** COLOR ****/
$color_header : #14afde;
$barre_timeline : #0a546b;
$color_month : #ffffff;
$actual_month : #94132e;
$fond_block : #f5f5f5;
$fond_day : #ebebeb;
$text_day : #176780;

$gradient_container_top : #77d2ee;
$gradient_container_bottom : #13aedd;

/**** PATH ****/
$path_img : '../img/';

/**** DIMENSION ****/
$height_screen : 1134px;
$width_screen : 750px;

$height_header : 120px;

$margin: 30px;